ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#cccccc;  
    
}   
li {
    float: left;
}
body {
    background-image: url("Spatter.png"); 
    background-repeat: no-repeat;    
    opacity: 2;
    /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}  

/* h1 { font-family: 'Georgia', Times, Times New Roman, serif,; 
     background-color: #4aaaa5; 
} */

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-size: 2em;
}  

p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}  

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}   

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

li a:hover {
    background-color: #111;
}  

p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}  

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Style the btn class to have a white background and rounded corners with a shadow */
/* make sure that all btn classes have the same height */
.project-btn {
    background-color: white;
    color: black;
    border: 2px solid #636363;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 16em;
    /* width: 100%; */
    /* center this element in the parent */
    margin-left: auto;
    margin-right: auto;
    display: block;

    /* add diffused shadow */
    box-shadow: 5px 9px 4px 3px rgba(0, 0, 0, 0.192);
}

.project-btn img {
    height: 10em;
}

.shadow {
    box-shadow: 5px 9px 4px 3px rgba(0, 0, 0, 0.192);
}

.project-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.my-pic-holder {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-bottom: 2em;
}

.my-pic {
    max-height: 15em;
    width: auto;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}